p {
  color: dodgerblue;
  margin: 20px 30px;
}

.dunes {
  color: red;
  text-align: justify;
}

#dunes {
  color: yellow;
  padding: 30px;
  border: 1px solid black;
}

p {
  color: dodgerblue !important;
  margin: 20px 30px;
}

/* This is a comment. */
